app ICON "preferences-system-symbolic.ico"
1 VERSIONINFO
FILEVERSION     0,6,3,0
PRODUCTVERSION  0,6,3,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904B0"
    BEGIN
      VALUE "CompanyName", "Simon Wunderlin"
      VALUE "FileDescription", "General Protocol Handler"
      VALUE "FileVersion", "0.6.3"
      VALUE "InternalName", "protohand"
      VALUE "LegalCopyright", "Simon Wunderlin"
      VALUE "OriginalFilename", "testregex.exe"
      VALUE "ProductName", "Protohand"
      VALUE "ProductVersion", "0.6.3"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 1252
  END
END